html, body {
  font-family: 'europeextendedc', sans-serif;
  color: #1E1B1B;
}

.wrapper {
  background: url("../img/background-right.svg") right top no-repeat,
    url("../img/background-left.svg") left top no-repeat;
  background-size: auto 100%;
}



.container {
  max-width: 1300px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}




.input {
  background: #B2B2B2;
  opacity: 0.7;
  font-size: 20px;
  padding: 25px 70px;
  border-radius: 5px;
  width: 100%;
}



.star::after {
  content: "";
  background-image: url('../img/form.svg');
  width: 23px;
  height: 25px;
  position: absolute;
}



/* --------------------------------------------------- */


.header {
  position: relative;
  z-index: 100;
}

.header__block-logo {
  display: flex;
}

.header__logo {
  max-width: 89px;
  margin-right: 10px;
}

.header__box-wrapper {
  font-size: 40px;
}

.header__wrapper-title {
  display: block;
}

.header__wrapper-subtitle {
  font-family: 'microN55';
  font-size: 30px;
}

.header__wrapper-icon {
  position: relative;
  top: 10px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  margin-bottom: 40px;
}

.header__block {
  margin-top: 9px;
}

.header__block-cell:hover {
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.header__block-cell {
  text-align: right;
  font-weight: 400;
  font-size: 36px;
  font-family: 'microN55';
  transition: all .3s;
}

.header__block-cell:hover {
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}


.header__block-info {
  display: flex;
  line-height: 19px;
  font-size: 17px;
  margin-right: 5px;
}

.header__info-direction {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 30px;
}

.header__info-time {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__nav [type="checkbox"] {
  display: none;
}

.header__nav-toggle label.toggleMenu {
  display: flex;
  align-items: center;
  min-height: 40px;
  font-size: 25px;
  background: #3D3D3D;
  color: #fff;
  padding: 5px 30px;
  margin: 3px;
}

.header__nav-toggle img {
  margin-right: 100px;
}

.header__nav-toggle {
  display: none;
}


.header__nav-list {
  display: flex;
  justify-content: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

path {
  transition: all .3s ease;
}

svg {
  transition: all .3s ease;
}

.header__nav-link {
  display: flex;
  background: #3D3D3D;
  color: #fff;
  padding: 5px 30px;
  margin: 3px;
  align-items: center;
  font-size: 20px;
  white-space: nowrap;
  min-width: 200px;
  min-height: 40px;
  justify-content: center;
  transition: all .3s ease;
}

.header__nav-link span {
  margin: 0 80px;
}

.header__nav-button {
  background: linear-gradient(350.26deg, #FBBE00 -9.24%, #FDD700 51.16%, #FFE600 104.85%, #FFEB00 149.59%);
  color: #000;
  padding: 0px 30px;
  min-height: 40px;
  font-size: 20px;
  white-space: nowrap;
  margin: 3px;
}

.header__nav-button:hover {
  transform: scale(1.02);
}


.header__nav-link:hover {
  background: linear-gradient(350.26deg, #FBBE00 -9.24%, #FDD700 51.16%, #FFE600 104.85%, #FFEB00 149.59%);
  color: #000;
}

.burger:hover path {
  stroke: #000;
  stroke-width: #000;
}

.header__nav-item:hover svg:last-child {
  transform: rotate(-90deg);
}

.header__nav-sublist {
  display: none;
  position: absolute;
  top: 95%;
}

.header__nav-item:hover .header__nav-sublist {
  display: block;
  position: absolute;
  top: 95%;
}


.header__nav-sublist li {
  background: rgba(61, 61, 61, .3);
}



/* -------------------------------------- */


.main__slider-block {
  display: block;
  min-height: 100%;
}

.main__services-block {
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
  gap: 20px 70px;
  margin-bottom: 70px;
  justify-items: center;
}

.main__services-option {
  text-align: center;
  transition: all .3s;
}


.main__services-option:hover {
  transform: scale(1.03);
}

.main__services-option img {
  min-width: 261px;
  min-height: 261px;
  display: block;
  margin-bottom: 10px;
}

.main__line {
  max-height: 3px;
}

.main__services img {
  max-width: 100%;
}

.main__info {
  margin-bottom: 26px;
}

.main__info-block {
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-bottom: 63px;
}

.main__block-watch {
  text-align: center;
}

.main__block-money {
  text-align: center;
  margin-top: 70px;
}

.main__block-printer {
  text-align: center;
  margin-top: 32px;
}

.main__block-title {
  text-transform: uppercase;
  margin-bottom: 23px;
}

.main__block-subtitle {
  line-height: 30px;
  margin-bottom: 20px;
}

.main__info img {
  max-width: 85%;
}

.main__about {
  position: relative;
  margin-bottom: 50px;
}



.main__about-title {
  background: #3D3D3D;
  color: #fff;
  text-transform: uppercase;
  padding: 12px 64px;
  display: inline-block;
  margin-bottom: 30px;
}

.main__about-subtitle {
  font-size: 41px;
  margin-bottom: 94px;
}

.main__about-text {
  font-size: 27px;
  line-height: 32px;
  margin-bottom: 13px;
}

.main__about-img {
  position: absolute;
  right: 0;
  bottom: -10%;
}

.main__about .main__line img {
  max-width: 65%;
}



.main__reviews-title {
  background: #3D3D3D;
  color: #fff;
  text-transform: uppercase;
  padding: 12px 64px;
  display: inline-block;
  margin-bottom: 38px;
}

.main__reviews-slider {
  max-width: 1677px;
  margin: 0 auto;
}

.main__reviews-slide {
  display: flex;
  justify-content: space-between;
  max-width: 550px;
  max-height: 405px;
  margin: 20px 50px;
  box-shadow: 0 7px 21px 0px rgba(0, 0, 0, .5);
  background-color: #fff;
}

.main__reviews-slide:last-child {
  margin-right: 0;
}

.main__reviews-avatar {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  margin: 10px;
  box-shadow: 4px 4px 10px 0px;
}

.main__reviews-info {
  padding: 20px;
}

.main__reviews-name {
  font-weight: 800;
  margin-bottom: 10px;
}

.main__reviews-sity {
  color: rgb(168, 168, 168);
  margin-bottom: 10px;
}

.main__reviews-feedback {
  font-weight: 800;
  margin-bottom: 30px;
}

.main__reviews-date {
  color: rgb(168, 168, 168);
  margin-bottom: 10px;
}

.main__reviews-slider .slick-prev:before {
  color: #FFEB00;
}

.main__reviews-slider .slick-next:before {
  color: #FFEB00;
}

.main__reviews .main__line img {
  max-width: 100%;
  margin: 0 auto;
  margin-top: 30px;
}

.main__popular {
  margin-bottom: 60px;
}

.main__popular-title {
  background: #3D3D3D;
  color: #fff;
  text-transform: uppercase;
  padding: 12px 64px;
  display: inline-block;
  margin: 38px 0 109px 0;
}

.main__popular-options {
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin-bottom: 100px;
  justify-items: center;
}

.main__popular-option {
  text-align: center;
  transition: all .3s ease;
}


.main__popular-option img {
  height: 261px;
  margin-bottom: 15px;
  display: block;
}

.main__popular-option:hover {
  transform: scale(1.03);
}



.main__popular .main__line img {
  max-width: 100%;
}

.main__form {
  margin-bottom: 114px;
}

.main__form-block {
  margin: 0 137px;
  text-align: center;
}

.main__form-button {
  background: linear-gradient(350.26deg, #FBBE00 -9.24%, #FDD700 51.16%, #FFE600 104.85%, #FFEB00 149.59%);
  color: #000;
  padding: 15px;
  border-radius: 5px;
  display: inline-block;
  font-size: 20px;
  margin-bottom: 48px;
  transition: all .3s;
}

.main__form-button:hover {
  transform: scale(1.03);
}

.main__form-inputs {
  display: flex;
  flex-direction: column;
}

.main__form-subinput {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.main__form-email {
  margin-bottom: 60px;
}

/* ---------------------- */

.footer__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
}

.footer__info-block {
  display: flex;

}

.footer__block-logo {
  margin-right: 10px;
}

.footer__block-box {
  display: flex;
  flex-direction: column;
}

.footer__box-title {
  font-family: 'microN55';
  font-size: 56px;
  line-height: 42px;
  margin-bottom: 10px;
}

.footer__box-subtitle {
  font-size: 20px;
}

.footer__box-subtitle:last-child {
  margin-bottom: 50px;
}

.footer__info-sity {
  margin-bottom: 60px;
  position: relative;
}

.footer__info-sity::before {
  content: "";
  background: url("../img/map-icon.svg") no-repeat;
  width: 56px;
  height: 45px;
  position: absolute;
  top: -50%;
  left: -50%;
}

.footer__info-tel {
  margin-bottom: 60px;
  position: relative;
}

.footer__info-tel::before {
  content: "";
  background: url("../img/cell-icon.svg") no-repeat;
  width: 55px;
  height: 55px;
  position: absolute;
  top: -50%;
  left: -30%;
}

.footer__info-link {
  margin-bottom: 60px;
  position: relative;
}

.footer__info-link::before {
  content: "";
  background: url("../img/service-icon.svg") no-repeat;
  width: 53px;
  height: 49px;
  position: absolute;
  top: -50%;
  left: -50%;
}

.footer__info-button {
  background: #3D3D3D;
  color: #fff;
  text-transform: uppercase;
  padding: 12px 64px;
  display: inline-block;
  margin-bottom: 90px;
  font-size: 30px;
  transition: all .3s ease;
}

.footer__info-button:hover {
  background: linear-gradient(350.26deg, #FBBE00 -9.24%, #FDD700 51.16%, #FFE600 104.85%, #FFEB00 149.59%);
  color: #000;
}

@media (max-width: 1705px) {

  .header__top {
    margin: 0 60px 40px 60px;
  }

  .main__about-img {
    bottom: -8%;
    width: 57%;
  }
}

@media (max-width: 1440px) {

  .header__top {
    margin: 0 220px 40px 220px;
  }

  .header__box {
    position: relative;
  }

  .header__box-wrapper {
    position: absolute;
    font-size: 30px;
  }

  .header__box-wrapper img {
    vertical-align: baseline;
  }

  .header__block {
    margin-top: 2px;
  }

  .header__block-cell {
    font-size: 32px;
  }

  .header__block-info {
    font-size: 15px;
  }

  .header__nav-link {
    font-size: 15px;
    min-width: auto;
  }

  .header__nav-link svg:first-child {
    width: 20px;
  }

  .header__nav-link svg:last-child {
    width: 12px;
  }

  .header__nav-link span {
    margin: 0 63px;
  }

  .header__nav-button {
    font-size: 15px;
    min-width: auto;
  }

  .header__wrapper-text {
    display: block;
  }

  .header__nav-sublist {
    display: none;
  }

  .header__nav-list {
    display: flex;
  }

  .main__services-block {
    grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;
  }

  .main__about-img {
    bottom: -8%;
    width: 60%;
  }

  .main__popular-options {
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
  }


}

@media (max-width: 1200px) {

  .wrapper {
    background: none;
  }

  .header {
    background: linear-gradient(45deg, #d4d4d4, #ffffff);
  }

  .header__top {
    margin: 0 80px 30px 80px;
  }


  .main__services-block {
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr;
  }

  .main__about-img {
    width: 60%;
    bottom: -3%;
  }

  .main__popular-options {
    grid-template: 1fr 1fr / 1fr 1fr;
  }
}

@media (max-width: 1111px) {

  .container {
    margin: 0 auto;
  }

  .header__nav-link {
    font-size: 13px;
    min-width: auto;
  }

  .header__nav-button {
    font-size: 13px;
    min-width: auto;
  }

  .header__nav-link span {
    margin: 0 53px;
  }

}

@media (max-width: 1000px) {
  .main__about-img {
    bottom: 15%;
  }
}

@media (max-width: 980px) {

  .header__nav {
    align-items: start;
  }


  .header__nav-link svg:first-child {
    display: none;
  }

  .header__nav-toggle {
    display: block;
  }

  .header__nav-list {
    display: block;
    position: absolute;
    left: 12%;
  }

  .header__nav-list li {
    background: rgba(61, 61, 61, .3);
  }

  .header__nav-sublist {
    margin-top: 5px;
  }

  .header__nav-sublist li:first-child {
    margin-top: 5px;
  }

  .header__nav-link {
    font-size: 25px;
  }

  .header__nav-link span {
    margin: 0 126.5px;
  }

  .header__nav-button {
    font-size: 25px;
    position: relative;
    left: 25%;
  }
}
